* {
    margin: 0;
    padding: 0;
    font-family: tahoma;
    box-sizing: border-box;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 25px;
    background-color: #1e448a;
}
.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 34px;
}
.toolContainer {
    display: flex;
    flex-grow: wrap;
    padding: 25px;
    justify-content: center;
}
.tool {
    padding: 25px;
    height: auto;
    width: 600px;
    border: solid #ccc 1px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tool h3 {
    text-align: center;
}
.questions {
    font-size: 20px;
}
.toolSubmit {
    background-color: #1e448a;
    color: white;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    font-size: 20px;
}
.disclaimer {
    text-align: center;
    text-wrap: wrap;
    font-size: 15px;
}