* {
    padding: 0;
    margin: 0;
    font-family: tahoma;
    box-sizing: border-box;

}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 25px;
    background-color: #1e448a;
    color: white;
    font-weight: bold;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 25px;
}
.checkEligibility {
    flex: 1 1 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border: solid #ccc 1px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #ccc;
    padding: 25px;
    gap: 10px;
    height: 600px;
    width: 600px;
}
.eligibilityHeader {
    flex: 1 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.eligibilityHeader h2 {
    color: #1e448a;
    font-size: 30px;
}
.elibilityImage {
    flex: 1 1 1;
}
.elibilityImage img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    align-items: center;
    
}
.eligibilityLink {
    flex: 1 1 1;
    background-color: #1e448a;
    max-width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    
}
.eligibilityLink a {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 25px;
    
}
.eligibilityLink a:hover {
    cursor: pointer;
    background-color: #3d5c94;
}
.disclaimer {
    text-align: center;
    text-wrap: wrap;
    font-size: 15px;
}