/* 
Versatile grey: #C2B6AA
Gunatlet grey: #78736C
*/
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.homenav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: #78736C;
    padding: 25px;
    border-bottom: solid black 1px;
}
.homenav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.body {
    background-color: #C2B6AA;
    text-align: center;
    padding: 50px;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}
.bodyimg {
    flex: 1 1 1;
}
.bodydescription {
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    gap: 50px;
    flex: 1 1 0;
}
.body img {
    height: 400px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 6px 6px 6px #78736C ; 
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    gap: 50px;
    background-color:  #C2B6AA;

}
.projectOne /* Cat Cafe*/{
    flex: 1 1 1;
    width: 250px;
    height: 250px;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.projectOne a{
    text-decoration: none;
    color: black;
    text-align: center;
}
.projectOne img{
    height: 250px;
    width: 250px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.projectOne img:hover {
    transform: translateY(-5px);
}
.projectTwo /* Pre Screening Eligibility Tool*/{
    flex: 1 1 1;
    width: 250px;
    height: 250px;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.projectTwo a{
    text-decoration: none;
    color: black;
    text-align: center;
}
.projectTwo img{
    height: 250px;
    width: 250px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.projectTwo img:hover {
    transform: translateY(-5px);
}
.projectThree{
    flex: 1 1 1;
    width: 250px;
    height: 250px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectFour{
    flex: 1 1 1;
    width: 250px;
    height: 250px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}