* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.menu {
    background-color: #e6d9c7;
   
}
.drink-menu {
    background-color: #f5f2eb;
    padding: 25px;
    margin-left: 100px;
    margin-right: 100px;
    box-sizing: border-box;
    border: solid #e6d9c7 2px;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    height: auto;


}
.drink-menu h1 {
    font-size: 30px;
    text-align: center;
}


.footer {
    background-color:#6F4E37;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    color: white;
}